
body{height: auto;direction: rtl; margin: 0%;
  box-sizing: border-box;
  padding: 0%;}
*{
  margin: 0%;
  box-sizing: border-box;
  padding: 0%;
}
.extralist li:hover{
  background-color:rgb(4, 82, 82);

}
nav{
  backdrop-filter: blur(20px);
  z-index: 1000;
      position: fixed;
      top: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 10%;
  background-color: transparent;
  }
nav  a{

      text-decoration: none;
  color: rgb(148, 18, 18);
     font-size: 1.2rem;
      transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
      width: 100%;
      height: 100%;
      background-color:transparent;position: relative;

  }
 a{
    text-decoration:
    none;
  }
  li{
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-content: center;
      height: 100%;





      width: 10rem;


  }
  ul{   background-color:  transparent;

      display:flex;
      justify-content: space-evenly;
      align-content: center;
      width: 100%;


  }
  .extralist li{
    height: 100%;
    width: 100%;
      background-color: blue;
  }
  img{
      width: 10%;
      height: 100%;


  }
  .arrico{
    width: 15%;
    height: 100%;
    transition: 0.5s;}
    li:hover .arrico{
        transform: rotate(-90deg);

    }
    .extralist{
        height: 0%;  list-style: none;
        width: 100%;
        transition: 0.2s;
    }
    .extralist a{
        display: none;
        transition: 1s ;
    }
    li:hover .extralist a{
     display: flex;


        }
    li:hover .extralist{
    height: 70%;
    width: 100%;


    }
       .unique{
        display: block; width: 100%;

    }


    .unique ul{display:block}
    .extralist li a{

        width: 100%;
        height: 100%;

    }
    .extralist li{
    width: 100%;
    height: 100%;


        }
        .nav li:hover svg{
            stroke:rgb(1, 175, 255);
            stroke-width: 2;
        }
      /*from galary...*/
      .galary img{
        display: block;
        width: 100vw;
        height: 100%;
        -webkit-filter: blur(0.2px); /* Safari 6.0 - 9.0 */
  filter: blur(0.1px);

    }
    .galary .thefinal{position:absolute;
        visibility: visible;
        display: inline-flex;
        width:auto;
        height: 100%;
        right: 0%;
        animation: hhh 50s linear infinite ;


    }
    .over{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      transition: 1s;



    }
      .galary:hover .over{
background-color: red;

      }
    .galary{

        overflow: hidden;
            position: relative;
            width: 100%;
            height: 100vh;
            background-color: hotpink;
        }




        .galary .text{
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    z-index: 1;
    font-size: 50px;
    color: black;
    }
    .title{
      border-bottom-color: red;
      font-size: 50px;
      color: blue;
      text-align: center;

    }
    .title2{


      text-align:
      center;
      align-items:
      center;
      padding:10px;

    }
    .title3{
    width: auto;
    text-align:
    center;
    align-items:
    center;
  padding: 10px;}

.section{
background-color:  transparent;
backdrop-filter: blur(20px);
display: flex;
flex-direction: column;
align-items:
center;
color: black;



  width: 100vw;
  mheight: auto;
}
.content{margin-top: 100px}
.section2{
background-image: url("../public/books.jpg") ;
background-color: #cccccc; /* Used if the image is unavailable */
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover;
  background-attachment: fixed;

}
hr{
  background-color: red;
  width: 50%;
  height: 4px;
}
.name{
  diplay:flex;
  flex-direction: column;
}
         /*from web only template...*/
         .card{
             margin-bottom: 5%;
             position: relative;
             width: 200px;
             height: 200px;
             border: black solid 2px;
             overflow: hidden;
             cursor:pointer;
             border-radius: 50%;
             transition: 0.75s;
         }

         .card .con{
             display: flex;
             justify-content: space-between;
             align-content: center;
             position:absolute;
             bottom: 0%;
             width: 100%;
             height:100%;

           }

         .card img{
             z-index: -1;
             width: 100%;
             height: 100%;
            transition: 2s;

            }
         .sub{
             color: white;
             height: 300%;
             position: absolute;
             align-content: center;
             justify-content: center;
             align-items: center;
             display: flex;
             flex-direction:
             column;

             bottom: -10%;
             width: 100%;
             transition: 0.25s;

             background-color: rgba(14, 2, 2, 0);

         }




         .imge{position: relative;
             width: 100%;
             height: 100%;
             background-position: center;
             background-size: cover;
             background-repeat: no-repeat;
             background-color: transparent;
         }

         .card:hover{

             transform: translateY(-30px);
             box-shadow:5px 5px 20px black;

         }
         .card:hover .sub{
           color: red;
             height: 120%;
         }
         .para{
           margin-top: 40px;
 width: 80%;
 font-size: 30px;
 color: gray;
 font-weight: 600;
         }
       .content{
         width: 100vw;

         display: flex;
         flex-direction:
         row;
         justify-content: space-evenly;
         align-content: space-between;
         flex-wrap:
         wrap;

       }
       .bn31 {
   background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
   border-radius: 40px;
   box-sizing: border-box;
   color: #00a84f;
   display: block;
   height: 50px;
   font-size: 1.4em;
   padding: 4px;
   position: relative;
   text-decoration: none;
   width: 7em;
   z-index: 2;
 }

 .bn31:hover {
   color: #fff;
 }

 .bn31 .bn31span {
   align-items: center;
   background: #0e0e10;
   border-radius: 40px;
   display: flex;
   justify-content: center;
   height: 100%;
   transition: background 0.5s ease;
   width: 100%;
 }

 .bn31:hover .bn31span {
   background: transparent;
 }
 .disc{
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
 }

 /* Three columns side by side */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container2 {
  padding: 0 16px;
}

/* Clear floats */
.container2::after, .row::after {
  content: "";
  clear: both;
  display: table;
}.card2 img{width: 100%;}


.title 6{
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
